

.col-3{    
    margin-top: 20px;
    transition: transform .2s;
    margin: 0 auto;   
}

.col-3:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
    box-shadow: 8px 8px 12px white,  -8px -8px 12px white;
  }
